<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
    <title>Parcours</title>

</head>

<body>

<section layout:fragment="content">
    <!-- INSERT CONTENT HERE -->

    <table class="list" >
        <tr>
            <th>Région</th>
            <th>Site</th>
            <th>Difficulté</th>

        </tr>
        <!--
        <tr th:each="item : ${list}">

            <td class="site" th:text="${item.getAutor()}">texte </td>
            <td class="title"><a th:href="@{'/topos/' + ${item.id}}" th:text="${item.getTitle()}">view</a></td>
            <td class="region" th:text="${item.getRegion()}"></td>
        </tr>
        -->
    </table>

</section>

<section layout:fragment="content-right">
    <form action = "/routes" method="post">
        <fieldset>
            <label>Ajouter un parcours</label><br/>
            <label>Région</label><br/>
            <select name="region">
                <option th:each="reg:${reglist}" th:text="${reg.getName()}"></option>
            </select><br/>
            <input type="text" name="sitename" placeholder="Nom du site"/><br/>
            <input type="text" name="area" placeholder="Nom du secteur"/><br/>
            <input type="text" name="route" placeholder="Nom de la voie"/><br/>
            <input type="number" name="lengthnumber" placeholder="nombre de longueurs"/><br/>
            <input type="submit"/>

        </fieldset>
    </form>
</section>

</body>
</html>