<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Topo Swapping</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<form action = "/toposwapping" method="post">
    <label>Ajouter un topo à votre collection</label>
    <label>Région</label>
    <input type="text" name="region"/>
    <label>Auteur</label>
    <input type="text" name="auteur"/>
    <input type="submit"/>
</form>

<p th:text="${message}" >Pas de message</p>
</body>

</html>