<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Topo Swapping</title>
    <th:block th:replace="fragments/header :: head"></th:block>
</head>

<body>

<header>
    <th:block th:replace="fragments/header :: header">

    </th:block>
</header><br/>

<form action = "/toposwapping" method="post">
    <fieldset th:label="${message}">
    <label>Ajouter un topo à votre collection</label><br/>
    <label>Région</label><br/>
    <input type="text" name="region"/><br/>
    <label>Auteur</label><br/>
    <input type="text" name="auteur"/><br/>
    <input type="submit"/><br/>
    </fieldset>
</form>

<p th:text="${message}" >Pas de message</p>
</body>

</html>